html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	background-color: #3F2664;
	color: white;
}

.configFormInput {
	width: 100%;
}

#configFormOuter {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#configFormMiddle {
    display: table-cell;
    vertical-align: middle;
}

#configFormInner {
    margin-left: auto;
    margin-right: auto; 
    width: 300px; 
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}
